/*--------------GENERAL STYLES--------------*/

body {
	background: #1c1c1d;
	overflow-x: hidden;
}
*::selection {
	background: #d7212e;
	color: #fff;
}
* {
	-webkit-font-smoothing: antialiased;
}
body.no-anim * {
  transition: none !important;
}
*:focus,
*:hover {
	outline: none !important;
}
h1, h2, h3, h4 {
	font-family: 'Oswald', sans-serif;
	transition: font-size 0.5s ease;
}
p, a, label, li {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size: 16px;
	transition: all 0.5s ease;
}
a:hover {
	text-decoration: none;
}
section {
	transition: all 0.5s ease;
}
.body-overlay {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7);
	opacity: 0;
	pointer-events: none;
	transition: all 0.5s ease;
}
.body-overlay.show {
	opacity: 1;
	pointer-events: all;
}
@font-face {
    font-family: 'LondonTwo';
    src: url('../fonts/LondonTwo.woff2') format('woff2'),
        url('../fonts/LondonTwo.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/*-----NAVBAR-----*/

.navbar {
	position: fixed;
	top: 0;
	left: 0;
	background: transparent;
	height: 110px;
	width: 100%;
	z-index: 999;
}
.navbar,
.navbar * {
	transition: all 0.5s ease;
}
.navbar .container-wrap {
	display: flex;
	max-width: 1800px;
	width: 100%;
	margin: 0 auto;
	flex-flow: row nowrap;
	justify-content: space-between;
    align-items: center;
	padding: 40px 40px 40px 60px;
}
.container-wrap {
	max-width: 1080px;
	width: 100%;
	margin: 0 auto;
	padding: 40px 40px;
	position: relative;
}
.navbar-brand {
	position: relative;
	width: 250px;
	height: 50px;
}
.navbar-brand img {
	width: 250px;
	height: auto;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translate(0%, -50%);
}
.navbar-brand img.logo-black {
	opacity: 0;
}
.navbar-brand img.logo-white {
	opacity: 1;
}
.navbar-brand p,
.navbar-brand p span {
	color: #fff;
	font-size: 25px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	margin: 0;
}
.navbar-brand p span {
	font-weight: 500;
}
.navbar-expand-md .navbar-collapse {
	justify-content: flex-end;
}
.nav-item {
	padding-left: 20px;
	display: flex;
	align-items: center;
}
.nav-link {
	color: #fff;
	font-size: 16px;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}
.nav-link:hover {
	color: #d7212e;
}
.nav-item .solid-btn {
	margin-top: 0;
	color: #fff;
	font-weight: 700;
	background: transparent;
}

/*MENU BUTTON*/
.menu-toggle {
	display: none;
	align-items: center;
    height: 100%;
}
.nav-button {
	display: inline-block;
	background: unset;
	border: unset;
	width: 30px;
	padding: 0;
}
.nav-button .bar {
    height: 3px;
    width: 30px;
    background: #fff;
    display: block;
    margin-bottom: 3px;
    transition: background 0.3s ease, width 0.3s ease;
}
.nav-button .bar:last-of-type {
    width: 25px;
}

/*HOVER EFFECTS*/

.menu-toggle:hover .nav-button .bar:first-of-type {
    width: 20px;
}
.menu-toggle:hover .nav-button .bar {
    width: 25px;
}
.menu-toggle:hover .nav-button .bar:last-of-type {
    width: 30px;
}
/*-----OPAQUE NAV STYLES-----*/

.navbar.opaque {
	background: #fdfdfd;
	font-size: inherit;
    font-weight: inherit;
    box-shadow: -1px 2px 19px 0px rgb(0 0 0 / 20%);
}
.navbar.opaque .nav-link {
	color: #000;
}
.navbar.opaque .nav-link:hover {
	color: #d7212e;
}
.navbar.opaque .nav-item.active .nav-link {
	color: #d7212e;
}
.navbar.opaque .nav-item .solid-btn {
	background: #d7212e;
}
.navbar.opaque .nav-item .solid-btn:hover {
	border: 1px solid #d7212e;
}
.navbar.opaque .navbar-brand p,
.navbar.opaque .navbar-brand p span {
	color: #000;
}
.navbar.opaque .navbar-brand img.logo-black {
	opacity: 1;
}
.navbar.opaque .navbar-brand img.logo-white {
	opacity: 0;
}
.navbar.opaque .nav-button .bar {
    background: #000;
}

/*----------------MOBILE NAV STYLES----------------*/

.mobile-nav {
	position: fixed;
	top: 0;
	right: -505px;
	height: 100vh;
	width: 500px;
	background: #fff;
	display: flex;
	flex-direction: column;
	transition: all 0.3s ease-in-out;
	z-index: 1001;
    box-shadow: -1px 2px 19px 0px rgb(0 0 0 / 75%);
}
.mobile-nav.open {
	right: 0;
}
.mobile-nav .close-btn {
	width: 20px;
	height: 20px;
	position: fixed;
	top: 45px;
	right: 60px;
	opacity: 0;
	pointer-events: none;
	transition: all 0.5s ease;
}
.mobile-nav .close-btn:hover {
	opacity: 0 !important;
}
.mobile-nav.open .close-btn {
	opacity: 1;
	pointer-events: all;
}
.mobile-nav.open .close-btn:hover {
	opacity: 0.75 !important;;
}
.mobile-nav .logo {
	display: flex;
	align-items: center;
	text-decoration: none;
	position: absolute;
	top: 35px;
	left: 35px;
	transition: all 0.5s ease;
}
.mobile-nav .logo:hover {
	text-decoration: none;
}
.mobile-nav .logo img {
	width: 250px;
	height: auto;
	display: inline-block;
	margin-right: 10px;
	transition: all 0.5s ease;
}
.mobile-nav .logo p,
.mobile-nav .logo p span {
	display: inline-block;
	color: #000;
	font-size: 25px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	margin: 0;
}
.mobile-nav .logo p span {
	font-weight: 500;
}
.mobile-nav .vertical-align {
	position: absolute;
	top: 50%;
	width: 100%;
	transform: translate(0%, -50%);
}
.mobile-nav .nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-bottom: 40px;
}
.mobile-nav .nav-item {
	height: 40px;
}
.mobile-nav .nav-link {
	color: #000;
	transition: all 0.5s ease;
}
.mobile-nav .nav-link:hover {
	color: #d7212e;
}
.mobile-nav .contact-item {
	padding-left: 30px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
}
.mobile-nav .contact-item a {
	color: #6b6b6b;
}
.mobile-nav .contact-item dt i {
	color: #d7212e;
}

/*----------------BODY CONTAINER----------------*/

main {
	z-index: 1;
    box-shadow: 4px 10px 31px 5px rgb(0 0 0 / 75%);
    overflow-x: hidden;
}
/*----------------HERO----------------*/

.hero {
	width: 100%;
	height: 100vh;
    border-top: unset;
    transition: unset;
}
.parallax-window {
	height: 100vh;
    background: #000;
    position: relative;
    z-index: 2;
}
.parallax-overlay,
.parallax-window .hero-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
}
.parallax-window .hero-container {
	background: transparent;
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.parallax-window .hero-container .solid-btn {
	margin-top: 50px;
	opacity: 0;
}
.parallax-window .banner-text {
	width: calc(100% - 40px);
	margin: 0 auto;
	text-align: center;
	color: #fff;
	font-size: 60px;
	transition: color 0.7s ease;
	cursor: default;
}
.parallax-window .banner-text:hover {

}
/*.parallax-window .banner-text:hover span {

}*/
.parallax-window .banner-text span {
	position: relative;
	color: #fff !important;
	opacity: 0;
	transition: color 0.5s ease;
}
/* 
	"Legal results through"
*/
.parallax-window .banner-text span:nth-child(1) {
	opacity: 1;
}

/*Animate class added after load*/
.parallax-window .banner-text.animate-finish span,
.parallax-window .banner-text.animate-finish + .solid-btn {
	animation: unset;
	opacity: 1;
}
/*
	Hides the following strings on hover:

	"Legal results through" + "," + "and" + ."
*/
.parallax-window .banner-text.animate-finish:hover span:nth-child(1),
.parallax-window .banner-text.animate-finish:hover span:nth-child(3),
.parallax-window .banner-text.animate-finish:hover span:nth-child(5),
.parallax-window .banner-text.animate-finish:hover span:nth-child(7){
	color: rgba(255, 255, 255, 0.1) !important;
}
/*Animate the banner text and button on load*/
.parallax-window .banner-text.animate span:not(.first) {
	animation: fadeIn 0.7s linear forwards;
}
.parallax-window .banner-text.animate + .solid-btn {
	animation: fadeIn 0.4s linear forwards;
}
/*
	"Legal results through"
*/
/*.parallax-window .banner-text.animate span:nth-child(1) {
	animation-delay: 0.2s;
}*/
/*
	"integrity" + ","
*/
.parallax-window .banner-text.animate span:nth-child(2),
.parallax-window .banner-text.animate span:nth-child(3) {
	animation-delay: 1s;
}
/*
	"teamwork"
*/
.parallax-window .banner-text.animate span:nth-child(4) {
	animation-delay: 1.8s;
}
/*
	"and"
*/
.parallax-window .banner-text.animate span:nth-child(5) {
	animation-delay: 2.8s;
}
/*
	"open communication" + "."
*/
.parallax-window .banner-text.animate span:nth-child(6),
.parallax-window .banner-text.animate span:nth-child(7) {
	animation-delay: 3.2s;
}
.parallax-window .banner-text.animate + .solid-btn {
	animation-delay: 4s;
}
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes showColor {
	0% {
		color: rgba(255, 255, 255, 0);
	}
	100% {
		color: rgba(255, 255, 255, 1);
	}
}
.parallax__container {
	clip: rect(0,auto,auto,0);
	height: 100%;
	left: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 100%;
}
.parallax {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: fixed;
	top: 0;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	transform: translateZ(0px) !important;
	width: 100%;
	opacity: 1;
}

/*----------------ABOUT SECTION----------------*/

section {
	position: relative;
	width: 100%;
}
.about {
	background: #f5f5f5;
}
.heading-container {
	width: auto;
}
.heading-container h1 {
	font-size: 40px;
}
.big-hr {
    border-top: 5px solid rgb(215 33 46);
    width: 30px;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 30px;
}

/*----------------OBJECTIVES SECTION----------------*/

.objectives {
	background: #1b1b1b;
}
.objectives * {
	color: #fff;
}
.objectives .objectives-container .objective {
	width: 100%;
	background: rgba(0,0,0,.2);
	transition: all 0.5s ease;
	padding: 40px;
	border-radius: 10px;
	border: 2px solid transparent;
	transform: translateZ(0) perspective(999px);
	cursor: default;
	margin-bottom: 15px;
}
.objectives .objectives-container .objective ul {
	padding-inline-start: 0px;
	margin-bottom: 0px;
}
.objectives .objectives-container .objective ul li {
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	margin-bottom: 5px;
	list-style: none;
}
.objectives .objectives-container .objective .title {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}
.objectives .objectives-container .objective p {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
}
.objectives .objectives-container .objective p:last-of-type {

}
.objectives .objectives-container .objective:hover {
	border: 2px solid #acacac;
	transform: translateZ(0) perspective(999px) scale3d(1.01, 1.01, 1);
}
/*----------------SERVICES SECTION----------------*/

section.services {
	background: #f5f5f5;
}
.services .container-wrap .service-boxes {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.services .container-wrap .service-boxes .service {
	position: relative;
	width: 32.33333%;
	margin-bottom: 15px;
	transition: all 0.5s ease;
	text-align: center;
	border-radius: 10px;
	display: flex;
	align-items: center;
	height: 190px;
	overflow: hidden;
	cursor: pointer;
	transform: translateZ(0) perspective(999px);
    box-shadow: -1px 2px 19px 0px rgb(0 0 0 / 20%);
}
.services .container-wrap .service-boxes .service:before {
	position: absolute;
	top: 0;
	left: 0;
	content: "";
	height: 140px;
	width: 100%;
	background: #acacac;
}
.services .container-wrap .service-boxes .service .image-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 140px;
	overflow: hidden;
	border-bottom: 3px solid #acacac;
	transition: all 0.4s ease;
}
.services .container-wrap .service-boxes .service p {
	position: absolute;
	bottom: 10px;
	left: 20px;
	font-size: 16px;
	margin: 0;
	color: #000;
	text-align: left;
	width: 100%;
}
.services .container-wrap .service-boxes .service img {
	position: absolute;
	height: auto;
	width: 100%;
	top: 50%;
	left: 50%;
	transform: translateZ(0) perspective(999px) translate(-50%, -50%);
	backface-visibility: hidden;
	z-index: 0;
	transition: all 0.4s ease;
}
.services .container-wrap .service-boxes .service:hover {
	transform: scale3d(1.03, 1.03, 1) translateZ(0) perspective(999px);
}
.services .container-wrap .service-boxes .service:hover img {
	margin-left: 10px;
	transform: scale3d(1.05, 1.05, 1) perspective(999px) translateZ(0) translate(-50%, -50%);
}
.services .container-wrap .service-boxes .service:hover p {
	color: #d7212e;
}
/*View all link*/
.services .link-container {
	display: flex;
	justify-content: center;
	margin-top: 15px;
}
.transparent-btn {
	color: #3b3b3b;
	display: table;
	margin: 0 auto;
	border: 1px solid #d7212e;
	background: transparent;
	margin-top: 10px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	border-radius: 50px;
	padding: 10px 20px;
	color: #d7212e;
	transition: all 0.4s ease;
	background: transparent;
}
.transparent-btn:hover {
	background: rgba(145, 16, 25, 0.1);
	color: #d7212e;
}

/*----------------GET STARTED SECTION----------------*/

.get-started {
	background: #1b1b1b;
}
.get-started * {
	color: #fff;
}
.steps {
	display: flex;
	justify-content: flex-start;
}
.steps .step * {
	font-family: 'Montserrat', sans-serif;
}
.steps .step:last-of-type {
	margin-right: unset;
}
.steps .step {
	position: relative;
	width: 32%;
	margin-right: 1.6666%;
	background: rgba(0,0,0,.2);
	transition: all 0.5s ease;
	padding: 40px;
	border-radius: 10px;
	border: 2px solid transparent;
	z-index: 1;
	transform: translateZ(0) perspective(999px);
	cursor: default;
}
.steps .step span {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	/*border: 2px solid rgb(42 42 42);*/
	background: rgb(30 30 30);
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	font-weight: 700;
	font-size: 12px;
	color: #e7e7e7;
	transition: all 0.5s ease;
}
.steps .step:hover {
	border: 2px solid #acacac;
	transform: translateZ(0) perspective(999px) scale3d(1.02, 1.02, 1);
}
.steps .step:hover span {
	/*border: 2px solid rgb(182 20 32);*/
	background: rgb(42 42 42);
	color: #fff;
}
.steps .step p.step-title {
	font-weight: 700;
	margin-top: 20px;
}
.steps .step p {
	font-weight: 500;
}
.solid-btn {
	display: table;
	margin: 0 auto;
	border: 1px solid #d7212e;
	background: transparent;
	margin-top: 30px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	border-radius: 60px;
	padding: 10px 25px;
	color: #fff;
	transition: all 0.4s ease;
	background: #d7212e;
}
.solid-btn:hover {
	color: #fff !important;
	border: 1px solid #911019;
	background: #911019;
}

/*----------------CONTACT SECTION----------------*/

/*MAP*/
#map {
    width: 49%;
    border-radius: 10px;
    transition: box-shadow 0.5s ease;
    box-shadow: -1px 2px 19px 0px rgb(0 0 0 / 10%);
}
.contact {
	background: #f5f5f5;
	border-bottom: unset;
}
.contact .contact-container {
	display: flex;
	justify-content: space-between;
}
.contact-details {
    height: 100%;
	width: 49%;
	height: auto;
    border-radius: 10px;
    padding: 20px 40px;
    background: #fff;
    transition: box-shadow 0.5s ease;
    box-shadow: -1px 2px 19px 0px rgb(0 0 0 / 10%);
}
.contact-details * {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	color: #555;
	transition: all 0.4s ease;
}
.contact-details a:hover {
	color: #000;
}
.contact-details hr {
	border-top: 1px solid #acacac;
}
.contact-item {
	width: 100%;
	margin: 0 auto;
}
.contact-item dl {
	padding-left: 30px;
	margin-bottom: 0px;
}
.contact-item dt {
	font-weight: 700;
	position: relative;
	margin-bottom: 5px;
}
.contact-item dt i {
	position: absolute;
	left: -25px;
	top: 50%;
	transform: translate(0%, -50%);
	color: #d9232f;
}
/*Hours*/
.contact-item table {
	margin-left: 30px;
}

/*----------------FOOTER SECTION----------------*/

footer {
	position: fixed;
	width: 100%;
	left: 0;
	bottom: 0;
	opacity: 1;
	z-index: -1;
	padding: 10px 0px;
}
footer * {
	color: #9b9b9b;
}
footer .container-wrap {
	overflow: hidden;
}
footer .link-container {
	overflow: hidden;
}
footer .footer-links {
	float: left;
	margin-right: 30px;
}
footer p {
	font-size: 16px;
	color: #fff;
	clear: both;
}
footer .logo {
	width: 250px;
}
footer .tagline {
	margin-top: 10px;
	margin-bottom: 30px;
}
footer .footer-links a {
	display: block;
	transition: all 0.5s ease;
	margin-bottom: 5px;
}
footer .footer-links a:hover {
	color: #e7e7e7;
	text-decoration: none;
}
footer .copy-text {
	margin-top: 30px;
	margin-bottom: 0px;
	color: #9b9b9b;
}
footer .copy-text:last-of-type {
	margin-top: 5px;
}
/*Background video*/
footer .footer-video__container,
footer .footer-video__overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
}
footer .footer-video__overlay {
	background: rgba(27, 27, 27, 0.95);
	z-index: -1;
}
footer .footer-video__container video {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
  	min-height: 100%;
    z-index: -1;
    opacity: 1;
    transition: all 0.5s ease;
}

/*----------------OUR TEAM PAGE----------------*/

.hero.hero-sml,
.hero.hero-sml .parallax-window {
	height: 50vh;
	min-height: 420px;
}

section.our-team {
	background: #f5f5f5;
}

.our-team .people {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}
.our-team .people .person {
	width: 32%;
	margin-right: 1%;
	margin-bottom: 15px;
	background: #fff;
	border-radius: 6px;
	height: 180px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	transform: translateZ(0) perspective(999px);
	transition: all 0.5s ease;
	cursor: default;
}
.our-team .people .person img {
	width: 50px;
	height: 50px;
	display: block;
	margin: 0 auto;
}
.our-team .people .person p {
	text-align: center;
}
.our-team .people .person .name {
	margin-top: 15px;
	margin-bottom: 0px;
}
.our-team .people .person .role {
	color: #9b9b9b;
	margin-top: 0px;
}
/*Hover effects*/
.our-team .people .person:hover {
	transform: translateZ(0) perspective(999px) scale3d(1.02, 1.02, 1.0);
    box-shadow: -1px 2px 19px 0px rgb(0 0 0 / 20%);
}

/*----------------CLIENT CENTRE PAGE----------------*/

section.client-centre {
	background: #f5f5f5;
}

.client-centre .client-links {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}
.client-centre .client-links .page {
	width: 49%;
	margin-right: 1%;
	margin-bottom: 15px;
	background: #fff;
	border-radius: 6px;
	height: 180px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	transform: translateZ(0) perspective(999px);
	transition: all 0.5s ease;
	cursor: pointer;
}
.client-centre .client-links .page img {
	width: 50px;
	height: 50px;
	display: block;
	margin: 0 auto;
}
.client-centre .client-links .page p {
	text-align: center;
	margin-top: 15px;
	margin-bottom: 0px;
	color: #000;
}
/*Hover effects*/
.client-centre .client-links .page:hover {
	transform: translateZ(0) perspective(999px) scale3d(1.02, 1.02, 1.0);
    box-shadow: -1px 2px 19px 0px rgb(0 0 0 / 20%);
}

/*----------------CONTACT PAGE----------------*/

.contact-options {
	background: #1b1b1b;
}
.contact-options h1 {
	color: #fff;
}
.contact-options .contact-container {
	display: flex;
	justify-content: space-between;
}
/*Left side contact info*/
.contact-options a.maps-link__anchor {
	width: 49%;
}
.contact-options .contact-details {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	background: rgba(0, 0, 0, 0.2);
	transition: all 0.5s ease;
	border: 2px solid transparent;
	width: 100%;
	transform: translateZ(0) perspective(999px);
}
.contact-options .contact-details .contact-item {
	margin-bottom: 10px;
}
.contact-options .contact-details hr {
	border-top: 1px solid #6b6b6b;
	width: 100%;
	margin-bottom: 30px;
}
/*Make all text color white*/
.contact-options .contact-details a,
.contact-options .contact-details td,
.contact-options .contact-details dt,
.contact-options .contact-details dd {
	color: #fff;
}
.contact-options .contact-details a:hover {
	color: #acacac;
}
/*Right side contact cards*/
.contact-options .contact-cards {
	display: flex;
	flex-direction: column;
	width: 49%;
}
.contact-options .contact-cards .contact-item {
	margin-bottom: 15px;
	background: rgba(0, 0, 0, 0.2);
	border-radius: 6px;
	height: 100px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	transform: translateZ(0) perspective(999px);
	transition: all 0.5s ease;
	width: 100%;
	border: 2px solid transparent;
}
/*Don't add margin to last card item*/
.contact-options .contact-cards .contact-item:last-of-type {
	margin-bottom: 0px;
}
.contact-options .contact-cards .contact-item .text-container {
	margin: 0 auto;
	width: 295px;
	text-align: left;
}
.contact-options .contact-cards .contact-item p {
	color: #fff;
	margin-bottom: 10px;
}
.contact-options .contact-cards .contact-item p.details {
	color: #acacac;
	margin-bottom: 0px;
	padding-left: 30px;
}
.contact-options .contact-cards .contact-item p i {
	margin-right: 13px;
	color: #d9232f;
}

/*Second div - contact form*/
.contact-form__section {
	background: #f5f5f5;
}
.contact-form__section .contact-container {
	display: flex;
	justify-content: space-between;
}
.contact-form__section .contact-form__container,
.contact-form__section #map {
	width: 49%;
}
/*CONTACT FORM*/
.contact-form__section .contact-form * {
	display: block;
}
.contact-form__section .contact-form input,
.contact-form__section .contact-form textarea {
	border-radius: 6px;
	border: unset;
	width: 100%;
	padding: 5px 10px;
	margin-bottom: 15px;
}
.contact-form__section .contact-form textarea {
	height: 250px;
}
.contact-form__section .contact-form .transparent-btn {
	display: block;
	margin: 0 auto;
	margin-top: 30px;
	width: 130px;
}

/*Hover Effects*/

.contact-options .contact-details:hover,
.contact-options .contact-cards .contact-item:hover {
	border: 2px solid #acacac;
	transform: translateZ(0) perspective(999px) scale3d(1.01, 1.01, 1);
}

/*----------------SERVICES PAGE----------------*/

.services-page {
	background: #f5f5f5;
}
.services-page .services .service {
	position: relative;
	background: #fff;
	border-radius: 6px;
	overflow: hidden;
	margin-bottom: 30px;
	transform: translateZ(0) perspective(999px);
	min-height: 420px;
	transition: all 0.5s ease;
    box-shadow: -1px 2px 19px 0px rgb(0 0 0 / 20%);
}
.services-page .services .service .service-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 30%;
	height: 100%;
	overflow: hidden;
	border-right: 3px solid #acacac;
	transition: width 0.5s ease;
}
.services-page .services .service .service-image img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 100%;
	min-height: 400px;
	width: auto;
}
.services-page .services .service .service-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	min-height: 420px;
	padding: 20px 40px 20px calc(30% + 40px);
}
.services-page .services .service .service-text p {
	font-weight: 700;
	font-size: 19px;
	color: #3b3b3b;
}
.services-page .services .service .service-text ul {
	padding-inline-start: 10px;
	margin-bottom: 0px;
	list-style-position: outside;
	list-style-type: "\00BB";
}
.services-page .services .service .service-text ul li {
	padding-left: 10px;
}
.services-page .services .service .service-text ul li::marker {
	color: #911019;
}

/*Right align some of the images for effect*/
.services-page .services .service.right .service-image {
	left: unset;
	right: 0;
	border-right: unset;
	border-left: 3px solid #acacac;
}
.services-page .services .service.right .service-text {
	padding: 20px calc(50% + 40px) 20px 40px;
}

/*Highlight when coming from home page*/
.services-page .services .service.highlight {
    box-shadow: -1px 2px 19px 0px rgb(0 0 0 / 60%);
}
/*Hover effects*/
.services-page .services .service:hover {
	transform: translateZ(0) perspective(999px) scale3d(1.02, 1.02, 1.0);
}
/*.services-page .services .service:hover .service-image {
	width: 35%;
}*/
.services-page .services .service:hover p {
	color: #d7212e;
}

/*Get in touch button*/
.services-page .solid-btn {
	margin: 60px auto 40px;
}

/*------------MEDIA QUERIES-----------*/

@media only screen and (min-width: 1200px){
	.navbar-expand-xl .navbar-collapse {
	    justify-content: flex-end;
	}
}
@media only screen and (max-width: 1400px){
	.menu-toggle {
		display: flex;
	}
	.navbar-expand-xl .navbar-collapse {
		display: none !important;
	}
	.navbar .container-wrap {
		padding: 0px 40px 0px 60px;
	    justify-content: space-between;
	}
	.parallax-window .banner-text {
	    width: calc(100% - 80px);
    	font-size: 50px;
    }
}
@media only screen and (max-width: 991px){
	/*NAV*/
	.navbar {
	    height: 80px;
	}
	.navbar .container-wrap {
		padding: 0px 5px;
	}
	.mobile-nav .logo img,
	.navbar-brand img,
	.navbar-brand {
		width: 200px;
		height: auto;
	}
	/*MOBILE NAV*/
	.mobile-nav .logo {
	    top: 20px;
	}
	.mobile-nav .close-btn {
	    top: 30px;
	    right: 30px;
	    width: 17px;
	    height: 17px;
	}
	/*HERO STYLES*/
	.parallax-window .banner-text {
	    text-align: left;
	    width: calc(100% - 80px);
	}
	.parallax-window .banner-text span:nth-child(1) {
		display: block;
	}
	.parallax-window .hero-container .solid-btn {
		margin-left: 40px;
	}
	.parallax-window .banner-text.animate-finish:hover span:nth-child(1), 
	.parallax-window .banner-text.animate-finish:hover span:nth-child(3), 
	.parallax-window .banner-text.animate-finish:hover span:nth-child(5), 
	.parallax-window .banner-text.animate-finish:hover span:nth-child(7) {
		color: #fff !important;
	}
	.hero.hero-sml, .hero.hero-sml .parallax-window {
		height: 30vh;
		min-height: 400px;
	}
	.parallax-window .hero-container {
	    margin-top: 20px;
	}
	/*STEPS*/
	.steps .step {
	    padding: 40px 20px 20px;
	}

	/*SERVICES*/
	.services .container-wrap .service-boxes .service {
		width: 49%;
	}

	/*CONTACT*/
	.contact-details {
		padding: 20px;
	}

	/*CONTACT PAGE*/

	/*Contact details*/
	.contact-options .contact-container {
		display: block;
	}
	.contact-options a.maps-link__anchor {
		width: 100%;
		margin-bottom: 15px;
		display: block;
	}
	.contact-options .contact-details {
		display: block;
	}
	.contact-options .contact-details .contact-item {
		width: 420px;
		margin-bottom: 30px;
	}
	.contact-options .contact-cards {
		width: 100%;
	}

	/*Contact form and map*/
	.contact-form__section .contact-container {
		flex-direction: column-reverse;
	}
	.contact-form__section .contact-form__container, 
	.contact-form__section #map {
		width: 100%;
	}
	.contact-form__section #map {
		height: 250px;
	}
	.contact-form__section .contact-form__container {
		margin-top: 30px;
		margin-bottom: 30px;
	}

	/*SERVICES PAGE*/
	.services-page .services .service .service-image img {
		min-height: 350px;
	}
	.services-page .services .service .service-text {
		padding: 20px 40px 20px calc(30% + 40px);
	}
	.services-page .services .service.right .service-text {
		padding: 20px calc(30% + 40px) 20px 40px;
	}
	/*OUR TEAM PAGE*/
	.our-team .people .person {
		width: 48%;
		margin-right: 2%;
	}
}
@media only screen and (max-width: 767px){
	/*GENERAL STYLES*/
	.container-wrap {
		padding: 40px 20px;
	}
	.heading-container h1 {
		font-size: 45px;
	}
	/*NAV*/
	.mobile-nav .logo p, .mobile-nav .logo p span,
	.navbar-brand p, .navbar-brand p span {
		font-size: 20px;
	}
	/*MOBILE NAV*/
	.mobile-nav {
		width: 100%;
		right: calc(-100% - 5px);
	}
	.mobile-nav .vertical-align {
	    padding-bottom: 50px;
	}
	/*HERO STYLES*/
	.parallax-window .banner-text {
	    text-align: left;
	    width: calc(100% - 40px);
	}
	/*
		"Legal results through"
	*/
	.parallax-window .banner-text span:nth-child(1) {
	}
	/*
		"integrity" + ","
	*/
	.parallax-window .banner-text span:nth-child(2),
	.parallax-window .banner-text span:nth-child(3) {
	}
	/*
		"teamwork"
	*/
	.parallax-window .banner-text span:nth-child(4) {
	}
	/*
		"and"
	*/
	.parallax-window .banner-text span:nth-child(5) {
		display: inline-block;
	}
	/*
		"open communication" + "."
	*/
	.parallax-window .banner-text span:nth-child(6),
	.parallax-window .banner-text span:nth-child(7) {
		display: inline-block;
	}
	.parallax-window .hero-container .solid-btn {
		margin-left: 20px;
	}

	/*SERVICES*/
	.services .container-wrap .service-boxes .service {
		border: 1px solid #f5f5f5;
	}

	/*GET STARTED SECTION*/
	.steps {
		flex-direction: column;
	}
	.steps .step {
		width: 100%;
		margin-bottom: 15px;
	}
	/*CONTACT SECTION*/
	.contact .contact-container {
	    flex-direction: column;
	}
	#map {
		height: 400px;
		width: 100%;
		margin-bottom: 20px;
	}
	.contact-details {
		width: 100%;
		padding: 15px;
	}
	/*SERVICES PAGE*/
	.services-page .services .service {
		margin-bottom: 15px;
		min-height: 100%;
		border: 1px solid #f5f5f5;
	}
	.services-page .services .service .service-image {
		width: 100%;
		height: 150px;
		border: unset;
		border-bottom: 3px solid #acacac;
	}
	.services-page .services .service.right .service-image {
		border: unset;
		border-bottom: 3px solid #acacac;
	}
	.services-page .services .service .service-image img {
		width: 100%;
		height: auto;
	}
	.services-page .services .service .service-text,
	.services-page .services .service.right .service-text {
		min-height: 100%;
		padding: 170px 20px 30px;
	}
	.services-page .services .service .service-text p {
		margin-bottom: 10px;
	}

	/*FOOTER*/
	footer {
		padding: 20px 0px 0px;
	}
	footer .tagline {
	    margin-top: 5px;
	    margin-bottom: 15px;
	}
	footer .copy-text {
		margin-top: 15px;
	}
	footer .logo {
		width: 200px;
	}
}
@media only screen and (max-width: 479px){
	/*GENERAL*/
	.heading-container h1 {
		font-size: 35px;
	}
	/*HERO*/
	.parallax-window .banner-text {
	    font-size: 35px;
	}
	.parallax-window .banner-text.animate span:nth-child(3) {
		display: inline-block;
	}
	/*
		"Legal results through"
	*/
	.parallax-window .banner-text span:nth-child(1) {
		display: block;
	}
	/*
		"and"
	*/
	.parallax-window .banner-text span:nth-child(5) {
		display: inline-block;
	}
	/*
		"open communication" + "."
	*/
	.parallax-window .banner-text span:nth-child(6),
	.parallax-window .banner-text span:nth-child(7) {
		display: unset;
	}
	.hero.hero-sml, .hero.hero-sml .parallax-window {
		height: 20vh;
		min-height: 300px;
	}
	/*OBJECTIVES SECTION*/
	.objectives .objectives-container .objective {
		padding: 20px;
	}
	/*SERVICES SECTION*/
	.services .container-wrap .service-boxes .service {
	    width: 100%;
	    margin-bottom: 15px;
   	}

	/*OUR TEAM PAGE*/
	.our-team .people .person {
		width: 100%;
		margin-right: unset;
	}

	/*CLIENT CENTRE PAGE*/
	.client-centre .client-links .page {
		width: 100%;
		margin-right: unset;
	}

	/*CONTACT PAGE*/
	.contact-options .contact-details .contact-item {
	    width: 100%;
	}

	/*FOOTER*/
	footer {
		padding: 20px 0px 20px;
	}
	footer .tagline {
	    margin-top: 5px;
	    margin-bottom: 30px;
	}
	footer .copy-text {
		margin-top: 30px;
	}
}