/*--------------GENERAL STYLES--------------*/

body {
	background: #1c1c1d;
	overflow-x: hidden;
}
*::selection {
	background: #d7212e;
	color: #fff;
}
* {
	-webkit-font-smoothing: antialiased;
}
body.no-anim * {
  transition: none !important;
}
*:focus,
*:hover {
	outline: none !important;
}
h1, h2, h3, h4 {
	font-family: 'Oswald', sans-serif;
	transition: font-size 0.5s ease;
}
p, a, label, li {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size: 16px;
	transition: all 0.5s ease;
}
b {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}
a:hover {
	text-decoration: none;
}
section {
	transition: all 0.5s ease;
	position: relative;
	width: 100%;
	z-index: 1;
}
.body-overlay {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7);
	opacity: 0;
	pointer-events: none;
	transition: all 0.5s ease;
}
.body-overlay.show {
	opacity: 1;
	pointer-events: all;
}
@font-face {
    font-family: 'LondonTwo';
    src: url('../fonts/LondonTwo.woff2') format('woff2'),
        url('../fonts/LondonTwo.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/*-----NAVBAR-----*/

.navbar {
	position: fixed;
	top: 0;
	left: 0;
	background: transparent;
	height: 110px;
	width: 100%;
	z-index: 999;
	padding: unset;
}
.navbar,
.navbar * {
	transition: all 0.5s ease;
}
.navbar .container {
	display: flex;
	max-width: 1800px;
	width: 100%;
	margin: 0 auto;
	flex-flow: row nowrap;
	justify-content: space-between;
    align-items: center;
	padding: 0px 40px 10px;
}
.container {
	max-width: 1080px;
	width: 100%;
	margin: 0 auto;
	padding: 40px 40px;
	position: relative;
}
.navbar-brand {
	position: relative;
	height: 50px;
}
.mobile-nav .logo img,
.navbar-brand img,
footer img.logo,
.navbar-brand {
	width: 400px;
}
.navbar-brand img {
	height: auto;
	position: absolute;
	top: 50%;
	left: 0;
	backface-visibility: hidden;
	transform: translateZ(0) translate(0%, -50%);
}
.navbar .navbar-brand p {
	position: absolute;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	bottom: -10px;
	left: 39px;
	font-size: 14px;
	color: #fff !important;
	transition: color 0.5s ease;
}
.navbar-brand img.logo-black {
	opacity: 0;
}
.navbar-brand img.logo-white {
	opacity: 1;
}
.navbar-brand p,
.navbar-brand p span {
	color: #fff;
	font-size: 25px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	margin: 0;
}
.navbar-brand p span {
	font-weight: 500;
}
.navbar .nav {
	padding-top: 10px;
}
.navbar-expand-md .navbar-collapse {
	justify-content: flex-end;
}
.nav-item {
	padding-left: 20px;
	display: flex;
	align-items: center;
}
.nav-link {
	color: #fff;
	font-size: 16px;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}
.nav-link:hover {
	color: #d7212e;
}
.nav-item .solid-btn {
	margin-top: 0;
	color: #fff;
	font-weight: 700;
	background: transparent;
}

/*MENU BUTTON*/
.menu-toggle {
	display: none;
	align-items: center;
    height: 100%;
    margin-top: 5px;
}
.nav-button {
	display: inline-block;
	background: unset;
	border: unset;
	width: 30px;
	padding: 0;
}
.nav-button .bar {
    height: 3px;
    width: 30px;
    background: #fff;
    display: block;
    margin-bottom: 3px;
    transition: background 0.3s ease, width 0.3s ease;
}
.nav-button .bar:last-of-type {
    width: 25px;
}

/*HOVER EFFECTS*/

.menu-toggle:hover .nav-button .bar:first-of-type {
    width: 20px;
}
.menu-toggle:hover .nav-button .bar {
    width: 25px;
}
.menu-toggle:hover .nav-button .bar:last-of-type {
    width: 30px;
}
/*-----OPAQUE NAV STYLES-----*/

.navbar.opaque {
	background: #fdfdfd;
	font-size: inherit;
    font-weight: inherit;
    box-shadow: -1px 2px 19px 0px rgb(0 0 0 / 20%);
}
.navbar.opaque .nav-link {
	color: #000;
}
.navbar.opaque .nav-link:hover {
	color: #d7212e;
}
.navbar.opaque .nav-item.active .nav-link {
	color: #d7212e;
}
.navbar.opaque .nav-item .solid-btn {
	background: #d7212e;
}
.navbar.opaque .nav-item .solid-btn:hover {
	border: 1px solid #911019;
	background: #911019;
}
.navbar.opaque .navbar-brand p,
.navbar.opaque .navbar-brand p span {
	color: #000;
}
.navbar.opaque .navbar-brand img.logo-black {
	opacity: 1;
}
.navbar.opaque .navbar-brand img.logo-white {
	opacity: 0;
}
.navbar.opaque .nav-button .bar {
    background: #000;
}
.navbar.opaque .navbar-brand p {
	color: #6b6b6b !important;
}

/*----------------MOBILE NAV STYLES----------------*/

.mobile-nav {
	position: fixed;
	top: 0;
	right: -505px;
	height: 100vh;
	width: 500px;
	background: #fff;
	display: flex;
	flex-direction: column;
	transition: all 0.3s ease-in-out;
	z-index: 1001;
    box-shadow: -1px 2px 19px 0px rgb(0 0 0 / 75%);
}
.mobile-nav.open {
	right: 0;
}
.mobile-nav .close-btn {
	width: 20px;
	height: 20px;
	position: fixed;
	top: 45px;
	right: 60px;
	opacity: 0;
	pointer-events: none;
	transition: all 0.5s ease;
	z-index: 1;
}
.mobile-nav .close-btn:hover {
	opacity: 0 !important;
}
.mobile-nav.open .close-btn {
	opacity: 1;
	pointer-events: all;
}
.mobile-nav.open .close-btn:hover {
	opacity: 0.75 !important;;
}
.mobile-nav .logo {
	display: flex;
	align-items: center;
	text-decoration: none;
	position: absolute;
	top: 35px;
	left: 35px;
	transition: all 0.5s ease;
	z-index: 1;
}
.mobile-nav .logo:hover {
	text-decoration: none;
}
.mobile-nav .logo img {
	width: 350px;
	height: auto;
	display: inline-block;
	margin-right: 10px;
	transition: all 0.5s ease;
}
.mobile-nav .logo p {
	position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    bottom: -34px;
    left: 34px;
    font-size: 14px;
    color: #6b6b6b;
}
.mobile-nav .vertical-align {
	position: absolute;
	top: 50%;
	width: 100%;
	transform: translate(0%, -50%);
	padding-left: 30px;
}
.mobile-nav .nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-bottom: 40px;
}
.mobile-nav .nav-item {
	height: 40px;
}
.mobile-nav .nav-link {
	color: #000;
	transition: all 0.5s ease;
	padding-top: 0;
}
.mobile-nav .nav-link:hover {
	color: #d7212e;
}
.mobile-nav .contact-item {
	padding-left: 30px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	margin-bottom: 15px;
}
.mobile-nav .contact-item a {
	color: #6b6b6b;
}
.mobile-nav .contact-item dt i {
	color: #d7212e;
}

/*----------------BODY CONTAINER----------------*/

main {
	z-index: 1;
    box-shadow: 4px 10px 31px 5px rgb(0 0 0 / 75%);
    overflow-x: hidden;
}
/*----------------HERO----------------*/

.hero {
	width: 100%;
	height: 100vh;
    border-top: unset;
    transition: unset;
}
.parallax-window {
	height: 100vh;
    background: #fff;
    position: relative;
    z-index: 2;
    overflow: hidden;
    transition: height 0.5s ease;
}
.blur-preview,
.parallax-overlay,
.parallax-window .hero-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	z-index: 2;
}
.blur-preview {
	filter: blur(11px);
	opacity: 1;
	z-index: 1;
	transition: opacity 1s ease;
}
.blur-preview img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	min-height: 100%;
	min-width: 100%;
}
.parallax-window .hero-container {
	background: transparent;
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.parallax-window .hero-container .solid-btn {
	margin-top: 50px;
}
.parallax-window .banner-text {
	width: calc(100% - 40px);
	margin: 0 auto;
	text-align: center;
	color: #fff;
	font-size: 60px;
	transition: color 0.7s ease;
	cursor: default;
}
.parallax-window .banner-text span {
	position: relative;
	color: #fff !important;
	transition: color 0.5s ease;
}
.parallax__container {
	clip: rect(0,auto,auto,0);
	height: 100%;
	left: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 100%;
}
.parallax {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: fixed;
	top: 0;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	will-change: transform;
	transform: translateZ(0) !important;
	width: 100%;
	transition: unset !important;
}

/*Loaded styles - hide the blur preview*/

.parallax-window.loaded .blur-preview {
	opacity: 0;
}
.parallax-window.loaded .parallax {
}
/*----------------ABOUT SECTION----------------*/

.about {
	background: #f5f5f5;
}
.heading-container {
	width: auto;
}
.heading-container h1 {
	font-size: 40px;
}
.big-hr {
    border-top: 5px solid rgb(215 33 46);
    width: 30px;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 30px;
}

/*----------------OBJECTIVES SECTION----------------*/

.objectives {
	background: #1b1b1b;
}
.objectives * {
	color: #fff;
}
.objectives .objectives-container .objective {
	width: 100%;
	background: rgba(0,0,0,.2);
	transition: all 0.5s ease;
	padding: 40px;
	border-radius: 10px;
	border: 2px solid transparent;
	transform: translateZ(0) perspective(999px);
	cursor: default;
	margin-bottom: 10px;
}
.objectives .objectives-container .objective ul {
	padding-inline-start: 0px;
	margin-bottom: 0px;
}
.objectives .objectives-container .objective ul li {
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	margin-bottom: 5px;
	list-style: none;
}
.objectives .objectives-container .objective .title {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}
.objectives .objectives-container .objective p {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
}
.objectives .objectives-container .objective p:last-of-type {

}
.objectives .objectives-container .objective:hover {
	border: 2px solid #acacac;
	transform: translateZ(0) perspective(999px) scale3d(1.01, 1.01, 1);
}
/*----------------SERVICES SECTION----------------*/

section.services {
	background: #f5f5f5;
}
.services .container .service-boxes {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.services .container .service-boxes .service {
	position: relative;
	width: 32.33333%;
	margin-bottom: 10px;
	transition: all 0.5s ease;
	text-align: center;
	border-radius: 10px;
	display: flex;
	align-items: center;
	height: 190px;
	overflow: hidden;
	cursor: pointer;
	background: #fff;
	backface-visibility: hidden;
	transform: translateZ(0) perspective(999px);
    box-shadow: -1px 2px 19px 0px rgb(0 0 0 / 5%);
}
.services .container .service-boxes .service:before {
	position: absolute;
	top: 0;
	left: 0;
	content: "";
	height: 140px;
	width: 100%;
	background: #acacac;
}
.services .container .service-boxes .service .image-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 140px;
	overflow: hidden;
	border-bottom: 3px solid #acacac;
	transition: all 0.4s ease;
}
.services .container .service-boxes .service p {
	position: absolute;
	bottom: 10px;
	left: 20px;
	font-size: 16px;
	margin: 0;
	color: #555;
	text-align: left;
	width: 100%;
}
.services .container .service-boxes .service img {
	position: absolute;
	height: auto;
	width: 100%;
	top: 50%;
	left: 50%;
	transform: translateZ(0) perspective(999px) translate(-50%, -50%);
	backface-visibility: hidden;
	z-index: 0;
	transition: all 0.4s ease;
}
.services .container .service-boxes .service:hover {
	transform: scale3d(1.03, 1.03, 1) translateZ(0) perspective(999px);
    box-shadow: -1px 2px 19px 0px rgb(0 0 0 / 20%);
}
.services .container .service-boxes .service:hover img {
	margin-left: 10px;
	transform: scale3d(1.05, 1.05, 1) perspective(999px) translateZ(0) translate(-50%, -50%);
}
.services .container .service-boxes .service:hover p {
	color: #d7212e;
}
/*View all link*/
.services .link-container {
	display: flex;
	justify-content: center;
	margin-top: 15px;
}
.transparent-btn {
	color: #3b3b3b;
	display: table;
	margin: 0 auto;
	border: 1px solid #d7212e;
	background: transparent;
	margin-top: 10px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	border-radius: 50px;
	padding: 10px 20px;
	color: #d7212e;
	transition: all 0.4s ease;
	background: transparent;
	cursor: pointer;
}
.transparent-btn:hover {
	background: rgba(145, 16, 25, 0.1);
	color: #d7212e;
}

/*----------------GET STARTED SECTION----------------*/

.get-started {
	background: #1b1b1b;
}
.get-started * {
	color: #fff;
}
.steps {
	display: flex;
	justify-content: flex-start;
}
.steps .step * {
	font-family: 'Montserrat', sans-serif;
}
.steps .step:last-of-type {
	margin-right: unset;
}
.steps .step {
	position: relative;
	width: 32%;
	margin-right: 1.6666%;
	background: rgba(0,0,0,.2);
	transition: all 0.5s ease;
	padding: 40px;
	border-radius: 10px;
	border: 2px solid transparent;
	z-index: 1;
	transform: translateZ(0) perspective(999px);
	cursor: default;
}
.steps .step span {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	/*border: 2px solid rgb(42 42 42);*/
	background: rgb(30 30 30);
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	font-weight: 700;
	font-size: 12px;
	color: #e7e7e7;
	transition: all 0.5s ease;
}
.steps .step:hover {
	border: 2px solid #acacac;
	transform: translateZ(0) perspective(999px) scale3d(1.02, 1.02, 1);
}
.steps .step:hover span {
	/*border: 2px solid rgb(182 20 32);*/
	background: rgb(42 42 42);
	color: #fff;
}
.steps .step p.step-title {
	font-weight: 700;
	margin-top: 20px;
}
.steps .step p {
	font-weight: 500;
}
.solid-btn {
	display: table;
	margin: 0 auto;
	border: 1px solid #d7212e;
	background: transparent;
	margin-top: 30px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	border-radius: 60px;
	padding: 10px 25px;
	color: #fff;
	transition: all 0.4s ease;
	background: #d7212e;
	min-width: 130px;
}
.solid-btn:hover {
	color: #fff !important;
	border: 1px solid #911019;
	background: #911019;
}

/*----------------CONTACT SECTION----------------*/

/*MAP*/
#map {
    width: 49%;
    border-radius: 10px;
    border: none;
    transition: box-shadow 0.5s ease;
    box-shadow: -1px 2px 19px 0px rgb(0 0 0 / 5%);
}
.contact {
	background: #f5f5f5;
	border-bottom: unset;
}
.contact .contact-container {
	display: flex;
	justify-content: space-between;
}
.contact-details {
    height: 100%;
	width: 49%;
	height: auto;
    border-radius: 10px;
    padding: 20px 40px;
    background: #fff;
    transition: box-shadow 0.5s ease;
    box-shadow: -1px 2px 19px 0px rgb(0 0 0 / 5%);
}
.contact-details * {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	color: #555;
	transition: all 0.4s ease;
}
.contact-details a:hover {
	color: #000;
}
.contact-details hr {
	border-top: 1px solid #acacac;
}
.contact-item {
	width: 100%;
	margin: 0 auto;
}
.contact-item dl {
	padding-left: 30px;
	margin-bottom: 0px;
}
.contact-item dt {
	font-weight: 700;
	position: relative;
	margin-bottom: 5px;
}
.contact-item dt i {
	position: absolute;
	left: -25px;
	top: 50%;
	transform: translate(0%, -50%);
	color: #d9232f;
}
/*Hours*/
.contact-item table {
	margin-left: 30px;
}

/*HOVER EFFECTS*/
.contact-details:hover,
#map:hover {
    box-shadow: -1px 2px 19px 0px rgb(0 0 0 / 20%);
}

/*----------------FOOTER SECTION----------------*/

footer {
	position: fixed;
	width: 100%;
	left: 0;
	bottom: 0;
	opacity: 1;
	z-index: 0;
	padding: 10px 0px;
}
footer * {
	color: #9b9b9b;
}
footer .container {
	overflow: hidden;
	max-width: 1800px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
footer .footer-container {
	flex-basis: auto;
	margin-top: 10px;
}

/*LOGO*/
footer .footer-container.logo {
	margin-top: 0px;
}
footer img.logo {
	width: 400px;
}

/*CONTACT INFO*/
footer .footer-container.contact-info p {
	padding-left: 3px;
	margin-bottom: 10px;
	display: flex;
	align-items: flex-start;
}
footer .footer-container.contact-info p i {
	color: #fff;
	margin-right: 15px;
    width: 24px;
    height: 24px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
footer .footer-container.contact-info p a {
	display: inline-block;
}
footer .footer-container.contact-info p a:hover {
	color: #e7e7e7;
}
footer .footer-container .links p {
	margin: 10px 0px;
}
footer p {
	font-size: 16px;
	color: #fff;
	clear: both;
}

/*LINKS*/
footer .footer-container.links {
}
footer .link-container {
	overflow: hidden;
	margin-bottom: 15px;
}
footer .link-container ul {
	padding-inline-start:  0px;
	list-style: none;
}
footer .link-container ul {
	margin-bottom: 0;
}
footer .link-container ul li {
	margin-bottom: 5px;
}
footer .link-container a {
	position: relative;
	transition: all 0.5s ease;
	margin: 0px 15px 5px 0px;
}
footer .link-container a:after {
	content: "";
	position: absolute;
	left: 0;
	bottom: -1px;
	height: 2px;
	width: 100%;
	border-bottom: 1px dotted #acacac;
	opacity: 0.5;
}
footer .link-container a:hover {
	color: #e7e7e7;
	text-decoration: none;
}

/*COPYRIGHT*/
footer .footer-container.copyright {
	width: 450px;
}
footer .copy-text {
	margin-bottom: 0px;
	color: #9b9b9b;
}
footer .copy-text:last-of-type {
	margin-top: 5px;
}
/*Background video*/
footer .footer-video__container,
footer .footer-video__overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
}
footer .footer-video__overlay {
	background: rgba(27, 27, 27, 0.95);
	z-index: -1;
}
footer .footer-video__container video {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
  	min-height: 100%;
    z-index: -1;
    opacity: 1;
    transition: all 0.5s ease;
}

/*----------------OUR TEAM PAGE----------------*/

.hero.hero-sml,
.hero.hero-sml .parallax-window {
	height: 50vh;
	min-height: 420px;
}

section.our-team {
	background: #f5f5f5;
}

.our-team .people {
	margin-top: 30px;
}
.our-team .people .person {
	width: 100%;
	margin-bottom: 10px;
	background: #fff;
	border-radius: 7px;
	/*height: 180px;*/
	display: flex;
	flex-direction: column;
	justify-content: center;
	backface-visibility: hidden;
	transform: translateZ(0) perspective(999px);
	transition: all 0.5s ease;
	cursor: default;
    padding: 20px 40px;
    overflow: visible;
    z-index: 1;
    box-shadow: -1px 2px 19px 0px rgb(0 0 0 / 5%);
}
.our-team .people .person picture {
	display: block;
	width: 120px;
	height: 120px;
	margin: 0 auto;
	overflow: hidden;
	border-radius: 50%;
}
.our-team .people .person picture img {
	width: 100%;
	height: 100%;
	display: block;
}
.our-team .people .person p.role,
.our-team .people .person p.name {
	text-align: center;
}
.our-team .people .person p.name {
	margin-top: 15px;
	margin-bottom: 0px;
	color: #3b3b3b;
}
.our-team .people .person p.role {
	color: #9b9b9b;
	margin-top: 0px;
	margin-bottom: 0px;
}
/*Profile text container*/
.our-team .people .person .profile-text {
	height: 0px;
	opacity: 0;
	padding-top: 15px;
	transition: height 0.5s ease, opacity 0.2s ease;
	overflow: hidden;
	backface-visibility: hidden;
}
.our-team .people .person p.description {
	text-align: left;
}
.our-team .people .person .practice-areas {
	width: 290px;
	margin: 0 auto;
}
.our-team .people .person .practice-areas p {
	text-align: center;
}
/*Hover effects*/
.our-team .people .person:hover {
	transform: translateZ(0) perspective(999px) scale3d(1.02, 1.02, 1.0);
    box-shadow: -1px 2px 19px 0px rgb(0 0 0 / 20%);
    margin: 20px 0px;
    z-index: 2;
}
/*Don't give first person margin on top*/
.our-team .people .person:first-of-type:hover {
	margin-top: 0px;
}
.our-team .people .person:hover .profile-text {
    opacity: 1;
    height: 320px;
	transition: height 0.5s ease, opacity 0.5s ease 0.3s;
}
.our-team .people .person:hover .profile-text.medium {
    height: 250px;
}
.our-team .people .person:hover .profile-text.small {
    height: 170px;
}

/*----------------CLIENT CENTRE PAGE----------------*/

section.client-centre {
	background: #f5f5f5;
}
/*Main page container to hide the 
  links when page link clicked*/
.client-centre .main-pages {
	height: 0px;
	overflow: hidden;
	opacity: 0;
	transition: all 0.5s ease;
}
.client-centre.show .main-pages {
	opacity: 1;
	height: 565px;
}
.client-centre .client-links {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}
.client-centre .client-links .page {
	width: 49%;
	margin-right: 1%;
	margin-bottom: 10px;
	background: #fff;
	border-radius: 7px;
	height: 180px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	transform: translateZ(0) perspective(999px);
	transition: all 0.5s ease;
	cursor: pointer;
    box-shadow: -1px 2px 19px 0px rgb(0 0 0 / 5%);
}
.client-centre .client-links .page img {
	width: 50px;
	height: 50px;
	display: block;
	margin: 0 auto;
}
.client-centre .client-links .page p {
	text-align: center;
	margin-top: 15px;
	margin-bottom: 0px;
	color: #3b3b3b;
}
/*Hover effects*/
.client-centre .client-links .page:hover {
	transform: translateZ(0) perspective(999px) scale3d(1.02, 1.02, 1.0);
    box-shadow: -1px 2px 19px 0px rgb(0 0 0 / 20%);
}

/*-----HIDDEN FORMS-----*/

.hidden-forms {
	position: relative;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	opacity: 1;
	pointer-events: all;
}
.hidden-forms.hide {
	opacity: 0;
	pointer-events: none;
}
.hidden-forms .container {
	opacity: 1;
	transition: all 0.5s ease, padding 0.5s;
	overflow: hidden;
}
.hidden-forms .container.hide {
	opacity: 0;
	height: 0px !important;
	padding-top: 0;
	padding-bottom: 0;
	transition: all 0.5s ease, padding 0s;
}

/*GO BACK BUTTON*/
.hidden-forms .transparent-btn {
	position: relative;
	margin-bottom: 30px;
	padding-left: 40px;
	width: 130px;
}
.hidden-forms .transparent-btn:after {
	content: "";
    background: url(../img/general/arrow-left.svg);
    background-size: cover;
    width: 19px;
    height: 16px;
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translate(0%, -50%);
    margin-top: 1px;
    color: #d7212e;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: left 0.2s ease;
    pointer-events: all;
}

.hidden-forms .transparent-btn.disable {
	pointer-events: none;
}
/*HOVER EFFECT ON BUTTON ARROW*/
.hidden-forms .transparent-btn:hover:after {
    left: 7px;
}

/*-----TERMS OF ENGAGEMENT-----*/

.hidden-forms .container.engagement-page {
	height: 1460px;
}
.engagement-page ul {
	padding-inline-start: 10px;
	margin-bottom: 10px;
	list-style-position: outside;
	list-style-type: "\00BB";
}
.engagement-page ul li {
	padding-left: 10px;
}
.engagement-page ul li::marker {
	color: #911019;
}

/*-----CONVEYANCING EMAIL REQUEST FORM-----*/

.hidden-forms .container.conveyancing-page {
	height: 1090px;
}
.conveyancing-page .flex-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.conveyancing-page .left,
.conveyancing-page .right {
	flex-basis: 49%;
}
.conveyancing-page form {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
/*Form titles*/
.conveyancing-page form p {
	flex-basis: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
	color: #3b3b3b;
	padding-left: 5px;
}
.conveyancing-page input,
.conveyancing-page textarea,
.conveyancing-page select {
	position: relative;
	border-radius: 7px;
	border: unset;
	width: 100%;
	padding: 5px 10px;
	margin-bottom: 10px;
	background: #fff;
	color: #000;
}
.conveyancing-page input.required:before {
	content: "";
	position: absolute;
	top: -2px;
	left: -2px;
	height: 5px;
	width: 5px;
	color: red;
	font-size: 14px;
}
.conveyancing-page textarea {
	height: 250px;
}
.conveyancing-page input.half,
.conveyancing-page select.half {
	flex-basis: 49%;
}

/*RIGHT CONTAINER - EMAIL LINK*/

.right .conveyancing-contact {
	display: flex;
	align-items: center;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	border-radius: 6px;
	background: linear-gradient(90deg,rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url('../img/client-centre/link-bg.jpg');
	background-repeat: no-repeat;
	background-position: center;
	margin-top: 44px;
	height: calc(100% - 130px); /*Height of button and height of first p element in form*/
	width: 100%;
    box-shadow: -1px 2px 19px 0px rgb(0 0 0 / 5%);
    transition: box-shadow 0.5s ease;
}
.right .conveyancing-contact p,
.right .conveyancing-contact .contact-item {
	display: inline-grid;
	width: auto;
	color: #fff;
}
.right .conveyancing-contact .contact-item {
	position: relative;
	margin-top: 15px;
}
.right .conveyancing-contact i {
	color: #d9232f;
	position: absolute;
	left: -25px;
	top: 5px;
}
.right .conveyancing-contact p {
	margin-bottom: 10px;
}
.right .conveyancing-contact p.details {
	color: #dbdbdb;
}
.right .conveyancing-contact:hover {
    box-shadow: -1px 2px 19px 0px rgb(0 0 0 / 20%);
}

/*-----PAYMENT FORM-----*/

.hidden-forms .container.payment-page {
	height: 300px;
}
.payment-page p a {
	color: #3b3b3b;
	text-decoration: underline;
}

/*-----WILL INSTRUCTIONS-----*/

.hidden-forms .container.will-page {
	height: 300px;
}
.will-page p a {
	color: #3b3b3b;
	text-decoration: underline;
}
.hidden-forms .container.will-page {

}

/*----------------CONTACT PAGE----------------*/

/*First div - contact form and details*/
.contact-form {
	background: #1b1b1b;
}
.contact-form h1 {
	color: #fff;
}
.contact-form .contact-container {
	display: flex;
	justify-content: space-between;
}
/*Left side enquiry form*/
.contact-form .contact-form__container {
	width: 49%;
}
.contact-form .contact-form__element * {
	display: block;
}
.contact-form .contact-form__element input,
.contact-form .contact-form__element textarea {
	border-radius: 7px;
	border: unset;
	width: 100%;
	padding: 5px 10px;
	margin-bottom: 10px;
	background: #3b3b3b;
	color: #fff;
}
.contact-form .contact-form__element textarea {
	height: 250px;
}
.contact-form .contact-form__element .solid-btn {
	display: block;
	margin: 0 auto;
	margin-top: 30px;
}

/*Right side contact cards*/
.contact-form .contact-cards {
	display: flex;
	flex-direction: column;
	width: 49%;
}
.contact-form .contact-cards .contact-item {
	margin-bottom: 10px;
	background: rgba(0, 0, 0, 0.2);
	border-radius: 7px;
	height: 100px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	transform: translateZ(0) perspective(999px);
	transition: all 0.5s ease;
	width: 100%;
	border: 2px solid transparent;
}
/*Don't add margin to last card item*/
.contact-form .contact-cards .contact-item:last-of-type {
	margin-bottom: 0px;
}
.contact-form .contact-cards .contact-item .text-container {
	margin: 0 auto;
	width: 295px;
	text-align: left;
}
.contact-form .contact-cards .contact-item p {
	color: #fff;
	margin-bottom: 10px;
}
.contact-form .contact-cards .contact-item p.details {
	color: #acacac;
	margin-bottom: 0px;
	padding-left: 30px;
}
.contact-form .contact-cards .contact-item p i {
	margin-right: 13px;
	color: #d9232f;
}

/*Hover Effects*/
.contact-form .contact-cards .contact-item:hover {
	border: 2px solid #acacac;
	transform: translateZ(0) perspective(999px) scale3d(1.01, 1.01, 1);
}

/*Second div - map and address details*/
.contact-location {
	background: #f5f5f5;
}
.contact-location a.maps-link__anchor {
	width: 49%;
}
.contact-location .contact-container {
	display: flex;
	justify-content: space-between;
}

/*Left side location information*/
.contact-location .contact-details {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	transition: all 0.5s ease;
	border: 2px solid transparent;
	width: 100%;
	transform: translateZ(0) perspective(999px);
}
.contact-location .contact-details .contact-item {
	margin-bottom: 10px;
}
.contact-location .contact-details hr {
	border-top: 1px solid #6b6b6b;
	width: 100%;
	margin-bottom: 30px;
}
/*Make all text color white*/
.contact-location .contact-details a:hover {
	color: #acacac;
}

/*Right side map*/
.contact-location #map {
	width: 49%;
}

/*----------------SERVICES PAGE----------------*/

.services-page {
	background: #f5f5f5;
}
.services-page .services .service {
	position: relative;
	background: #fff;
	border-radius: 7px;
	overflow: hidden;
	margin-bottom: 30px;
	transform: translateZ(0) perspective(999px);
	min-height: 420px;
	transition: all 0.5s ease;
    box-shadow: -1px 2px 19px 0px rgb(0 0 0 / 5%);
}
.services-page .services .service .service-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 30%;
	height: 100%;
	overflow: hidden;
	border-right: 3px solid #acacac;
	transition: width 0.5s ease;
}
.services-page .services .service .service-image img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 100%;
	min-height: 400px;
	width: auto;
}
.services-page .services .service .service-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	min-height: 420px;
	padding: 20px 40px 20px calc(30% + 40px);
}
.services-page .services .service .service-text p {
	font-weight: 700;
	font-size: 19px;
	color: #3b3b3b;
}
.services-page .services .service .service-text ul {
	padding-inline-start: 10px;
	margin-bottom: 0px;
	list-style-position: outside;
	list-style-type: "\00BB";
}
.services-page .services .service .service-text ul li {
	padding-left: 10px;
}
.services-page .services .service .service-text ul li::marker {
	color: #911019;
}

/*Right align some of the images for effect*/
.services-page .services .service.right .service-image {
	left: unset;
	right: 0;
	border-right: unset;
	border-left: 3px solid #acacac;
}
.services-page .services .service.right .service-text {
	padding: 20px calc(50% + 40px) 20px 40px;
}

/*Highlight when coming from home page*/
.services-page .services .service.highlight {
    box-shadow: -1px 2px 19px 0px rgb(0 0 0 / 20%);
}
/*Hover effects*/
.services-page .services .service:hover {
	transform: translateZ(0) perspective(999px) scale3d(1.02, 1.02, 1.0);
    box-shadow: -1px 2px 19px 0px rgb(0 0 0 / 20%);
}
/*.services-page .services .service:hover .service-image {
	width: 35%;
}*/
.services-page .services .service:hover p {
	color: #d7212e;
}

/*Get in touch button*/
.services-page .solid-btn {
	margin: 60px auto 40px;
}

/*------------MEDIA QUERIES-----------*/

@media only screen and (min-width: 1200px){
	.navbar-expand-xl .navbar-collapse {
	    justify-content: flex-end;
	}
}
@media only screen and (max-width: 1400px){
	.menu-toggle {
		display: flex;
	}
	.navbar-expand-xl .navbar-collapse {
		display: none !important;
	}
	.navbar .container {
		padding: 0px 40px 10px 40px;
	    justify-content: space-between;
	}
	.parallax-window .banner-text {
	    width: calc(100% - 80px);
    	font-size: 50px;
    }

    /*FOOTER*/
    footer .container {
    	flex-wrap: wrap;
    	justify-content: flex-start;
    }
    footer .footer-container.logo {
    	flex-basis: 100%;
    	margin-bottom: 20px;
    }
    footer .footer-container.copyright,
    footer .footer-container.links {
    	margin-left: 100px;
    }
}
@media only screen and (max-width: 1200px){
    /*FOOTER*/
    footer .footer-container.copyright {
    	flex-basis: 100%;
    	margin-top: 20px;
    	margin-left: 0px;
    }
}
@media only screen and (max-width: 991px){
	/*NAV*/
	.navbar {
	    height: 100px;
	}
	.navbar .container {
		padding: 0px 40px 10px;
	}
	.mobile-nav .logo img,
	footer img.logo,
	.navbar-brand img,
	.navbar-brand {
		height: auto;
	}
	.navbar .navbar-brand p {
		bottom: -30px;
	    left: 38px;
	}

	/*MOBILE NAV*/
	.mobile-nav .logo {
	    top: 25px;
	}
	.mobile-nav .logo p {
	    left: 29px;
	}
	.mobile-nav .close-btn {
	    top: 30px;
	    right: 30px;
	    width: 17px;
	    height: 17px;
	}

	/*HERO STYLES*/
	.parallax-window .banner-text {
	    text-align: left;
	    width: calc(100% - 80px);
	}
	.parallax-window .banner-text span:nth-child(1) {
		display: block;
	}
	.parallax-window .hero-container .solid-btn {
		margin-left: 40px;
	}
	.parallax-window .banner-text.animate-finish:hover span:nth-child(1), 
	.parallax-window .banner-text.animate-finish:hover span:nth-child(3), 
	.parallax-window .banner-text.animate-finish:hover span:nth-child(5), 
	.parallax-window .banner-text.animate-finish:hover span:nth-child(7) {
		color: #fff !important;
	}
	.hero.hero-sml, .hero.hero-sml .parallax-window {
		height: 400px;
	}
	.parallax-window .hero-container {
	    margin-top: 20px;
	}
	/*STEPS*/
	.steps .step {
	    padding: 40px 20px 20px;
	}

	/*SERVICES*/
	.services .container .service-boxes .service {
		width: 49%;
	}

	/*CONTACT*/
	.contact-details {
		padding: 20px;
	}

	/*SERVICES PAGE*/
	.services-page .services .service .service-image img {
		min-height: 350px;
	}
	.services-page .services .service .service-text {
		padding: 20px 40px 20px calc(30% + 40px);
	}
	.services-page .services .service.right .service-text {
		padding: 20px calc(30% + 40px) 20px 40px;
	}
	/*OUR TEAM PAGE*/
	.our-team .people .person:hover .profile-text {
		height: 380px;
	}
	.our-team .people .person:hover .profile-text.small {
	    height: 230px;
	}
	.our-team .people .person:hover .profile-text.medium {
	    height: 330px;
	}

	/*CLIENT CENTRE*/
	.conveyancing-page .flex-container {
		display: block;
	}
	.conveyancing-page .left, 
	.conveyancing-page .right {
		flex-basis: 100%;	
	}
	.conveyancing-page .right .conveyancing-contact{
		height: 300px;
	}
	.hidden-forms .container.conveyancing-page {
		height: 1430px;
	}
	.hidden-forms .container.engagement-page {
		height: 1800px;
	}

	/*CONTACT PAGE*/

	/*Contact details*/
	.contact-form .contact-container {
		display: block;
	}
	.contact-form .contact-form__container {
		width: 100%;
		margin-top: 30px;
		margin-bottom: 30px;
	}
	.contact-form .contact-details {
		display: block;
	}
	.contact-form .contact-details .contact-item {
		width: 420px;
		margin-bottom: 30px;
	}
	.contact-form .contact-cards {
		width: 100%;
	}

	/*Contact form and map*/
	.contact-location .contact-container {
		flex-direction: column-reverse;
	}
	.contact-location a.maps-link__anchor {
		width: 100%;
		margin-bottom: 10px;
		display: block;
	}
	.contact-location #map {
		width: 100%;
		height: 250px;
		margin-bottom: 30px;
	}

	/*FOOTER*/
	footer .container {
		padding: 40px 40px 20px;
	}
	footer .link-container p:first-of-type {
		display: none;
	}
}
@media only screen and (max-width: 767px){
	/*GENERAL STYLES*/
	.container {
		padding: 40px 20px;
	}
	.heading-container h1 {
		font-size: 45px;
	}

	/*NAV*/
	.navbar .container {
		padding: 0px 20px 10px;
	}
	.mobile-nav .logo img,
	.navbar-brand img,
	footer img.logo,
	.navbar-brand {
		width: 300px;
	}
	.navbar .navbar-brand p {
	    bottom: -30px;
	    left: 29px;
	}

	/*MOBILE NAV*/
	.mobile-nav {
		width: 100%;
		right: calc(-100% - 5px);
	}
	.mobile-nav .logo {
	    left: 20px;
	}
	.mobile-nav .logo p {
	    left: 29px;
	    bottom: -32px;
	    font-size: 12px;
	}
	.mobile-nav .close-btn {
	    top: 33px;
	}
	.mobile-nav .vertical-align {
		display: flex;
		flex-wrap: wrap;
	    padding: 120px 0px 50px 13px;
	    position: relative;
	    transform: unset;
	    top: unset;
	    left: unset;
	}
	.mobile-nav .nav,
	.mobile-nav .contact-items {
		flex-basis: 45%;
	}
	.mobile-nav .contact-item {
		height: 55px;
	}

	/*HERO STYLES*/
	.parallax-window .banner-text {
	    text-align: left;
	    width: calc(100% - 40px);
	    font-size: 40px;
	}
	.parallax-window .hero-container .solid-btn {
		margin-left: 20px;
	}

	/*SERVICES*/
	.services .container .service-boxes .service {
		border: 1px solid #f5f5f5;
	}

	/*GET STARTED SECTION*/
	.steps {
		flex-direction: column;
	}
	.steps .step {
		width: 100%;
		margin-bottom: 10px;
	}
	/*CONTACT SECTION*/
	.contact .contact-container {
	    flex-direction: column;
	}
	#map {
		height: 400px;
		width: 100%;
		margin-bottom: 10px;
	}
	.contact-details {
		width: 100%;
		padding: 25px 15px;
	}
	/*OUR TEAM PAGE*/
	.our-team .people .person:hover .profile-text,
	.our-team .people .person:hover .profile-text.small,
	.our-team .people .person:hover .profile-text.medium {
		height: 100%;
	}
	.our-team .people .person .profile-text {
		height: 100%;
		opacity: 1;
	}

	/*SERVICES PAGE*/
	.services-page .services .service {
		margin-bottom: 10px;
		min-height: 100%;
		border: 1px solid #f5f5f5;
	}
	.services-page .services .service .service-image {
		width: 100%;
		height: 150px;
		border: unset;
		border-bottom: 3px solid #acacac;
	}
	.services-page .services .service.right .service-image {
		border: unset;
		border-bottom: 3px solid #acacac;
	}
	.services-page .services .service .service-image img {
		width: 100%;
		height: auto;
	}
	.services-page .services .service .service-text,
	.services-page .services .service.right .service-text {
		min-height: 100%;
		padding: 170px 20px 30px;
	}
	.services-page .services .service .service-text p {
		margin-bottom: 10px;
	}

	/*CLIENT CENTRE*/
	.client-centre .client-links .page {
		width: 100%;
		margin-right: 0;
	}
	.client-centre.show .main-pages {
		height: 940px;
	}
	.hidden-forms .container.payment-page {
		height: 350px;
	}
	.hidden-forms .container.will-page {
		height: 350px;
	}
	.hidden-forms .container.engagement-page {
		height: 2000px;
	}

	/*FOOTER*/
	footer {
		padding: 20px 0px 0px;
	}
	footer .footer-container.copyright {
    	margin-top: 5px;
	}
	footer .footer-container.links {
		margin-left: 50px;
	}
    footer .footer-container.logo {
    	margin-bottom: 5px;
    }
	footer .link-container {
	    flex-wrap: wrap;
	}
	footer .link-container ul {
		flex-wrap: wrap;
	}
	footer .link-container li {
		flex-basis: 50%;
		margin-right: 0;
	}
	footer .container {
	    padding: 40px 20px 15px;
	}
}
@media only screen and (max-width: 479px){

	/*NAV*/
	.mobile-nav .logo img,
	.navbar-brand img,
	footer img.logo,
	.navbar-brand {
		width: 275px;
	}
	.navbar .navbar-brand p {
	    left: 27px;
	    bottom: -25px;
	    font-size: 12px;
	}

	/*MOBILE NAV*/
	.mobile-nav .vertical-align {
		display: block;
	    padding-left: 10px;
	    position: absolute;
	    top: 50%;
	    width: 100%;
	    transform: translate(0%, -50%);
	    padding: 0px 0px 0px 10px;
	}
	/*GENERAL*/
	.heading-container h1 {
		font-size: 35px;
	}
	/*HERO*/
	.parallax-window .banner-text {
	    font-size: 35px;
	}
	.parallax-window .banner-text.animate span:nth-child(3) {
		display: inline-block;
	}
	.hero.hero-sml, .hero.hero-sml .parallax-window {
		height: 350px;
		min-height: unset;
	}
	/*OBJECTIVES SECTION*/
	.objectives .objectives-container .objective {
		padding: 20px;
	}
	/*SERVICES SECTION*/
	.services .container .service-boxes .service {
	    width: 100%;
	    margin-bottom: 10px;
   	}
   	/*CONTACT SECTION*/
   	#map {
   		height: 250px;
   	}

	/*OUR TEAM PAGE*/
	.our-team .people .person {
		width: 100%;
		margin-right: unset;
		padding: 20px;
	}

	/*CLIENT CENTRE PAGE*/
	.client-centre .client-links .page {
		width: 100%;
		margin-right: unset;
	}
	.hidden-forms .container.conveyancing-page {
		height: 100%;
	}
	.hidden-forms .container.engagement-page {
		height: 100%;
	}
	.conveyancing-page input.half, 
	.conveyancing-page select.half {
		flex-basis: 100%;
	}

	/*CONTACT PAGE*/
	.contact-form .contact-details .contact-item {
	    width: 100%;
	}

	/*FOOTER*/
	footer {
		padding: 20px 0px 20px;
	}
	footer .container {
	    padding: 20px;
	}
	footer .footer-container {
		flex-basis: 100%;
	}
	footer .footer-container.links {
		margin-left: 0;
	}
	footer .link-container li {
    	flex-basis: 135px;
	}
}
/*LANDSCAPE FOR LARGE PHONES*/
@media only screen and (max-height: 400px){
	/*MOBILE NAV*/
	.mobile-nav .logo {
	    left: 20px;
	}
	.mobile-nav .logo p {
	    left: 29px;
	    bottom: -32px;
	    font-size: 12px;
	}
	.mobile-nav .close-btn {
	    top: 33px;
	}
	.mobile-nav .vertical-align {
		display: flex;
		flex-wrap: wrap;
	    padding: 120px 0px 50px 13px;
	    position: relative;
	    transform: unset;
	    top: unset;
	    left: unset;
	}
	.mobile-nav .nav,
	.mobile-nav .contact-items {
		flex-basis: 45%;
	}

	/*HERO CONTAINER*/
	.parallax-window .hero-container {
	    margin-top: 50px;
	}

	/*FOOTER*/
	footer .container {
	    padding: 40px 20px 15px;
	}
	footer .footer-video__overlay {
	    background: rgb(27 27 27 / 0.85);
	}
}
