/*--------------GENERAL STYLES--------------*/

body {
	background: #fff;
	overflow-x: hidden;
	user-select: none;
}
*:focus,
*:hover {
	outline: none !important;
}
h1, h2, h3, h4 {
	font-family: 'Oswald', sans-serif;
}
p {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size: 16px;
}

@font-face {
    font-family: 'LondonTwo';
    src: url('../fonts/LondonTwo.woff2') format('woff2'),
        url('../fonts/LondonTwo.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/*-----NAVBAR-----*/

.navbar {
	position: fixed;
	top: 0;
	left: 0;
	background: transparent;
	height: 150px;
	width: 100%;
	z-index: 999;
}
.navbar,
.navbar * {
	transition: all 0.5s ease;
}
.navbar .container-wrap {
	display: flex;
	max-width: 1800px;
	width: 100%;
	margin: 0 auto;
	flex-flow: row nowrap;
	-ms-flex-pack: start;
	justify-content: flex-start;
    align-items: center;
	padding: 40px 40px 40px 60px;
}
.container-wrap {
	max-width: 960px;
	width: 100%;
	margin: 0 auto;
	padding: 40px 40px;
	position: relative;
}
.navbar-brand {
	width: 400px;
	display: flex;
	align-items: center;
}
.navbar-brand img {
	position: absolute;
	left: 25px;
	height: 25px;
}
.navbar-brand img.logo-black {
	opacity: 0;
}
.navbar-brand img.logo-white {
	opacity: 1;
}
.navbar-brand p,
.navbar-brand p span {
	color: #fff;
	font-size: 25px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	margin: 0;
}
.navbar-brand p span {
	font-weight: 500;
}
.navbar-expand-md .navbar-collapse {
	justify-content: flex-end;
}
.nav-item {
	padding-left: 20px;
}
.nav-link {
	color: #fff;
	font-size: 16px;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}

/*MENU BUTTON*/
.menu-toggle {
	display: none;
	align-items: center;
    height: 100%;
}
.nav-button {
	display: inline-block;
	background: unset;
	border: unset;
	width: 30px;
	padding: 0;
}
.nav-button .bar {
    height: 3px;
    width: 30px;
    background: #fff;
    display: block;
    margin-bottom: 3px;
    transition: background 0.3s ease, width 0.3s ease;
}
.nav-button .bar:last-of-type {
    width: 25px;
}

/*HOVER EFFECTS*/

.menu-toggle:hover .nav-button .bar:first-of-type {
    width: 20px;
}
.menu-toggle:hover .nav-button .bar {
    width: 25px;
}
.menu-toggle:hover .nav-button .bar:last-of-type {
    width: 30px;
}
/*-----SMALL NAV STYLES-----*/

.navbar.small {
	background: #fff;
	height: 110px;
	font-size: inherit;
    font-weight: inherit;
}
.navbar.small .navbar-brand {
	width: 380px;
}
.navbar.small .nav-link {
	color: #000;
}
.navbar.small .navbar-brand p,
.navbar.small .navbar-brand p span {
	color: #000;
}
.navbar.small .navbar-brand img.logo-black {
	opacity: 1;
}
.navbar.small .navbar-brand img.logo-white {
	opacity: 0;
}
.navbar.small .nav-button .bar {
    background: #000;
}

/*----------------MOBILE NAV STYLES----------------*/

.mobile-nav {
	position: fixed;
	top: 0;
	right: -500px;
	height: 100vh;
	width: 500px;
	background: #fff;
	display: flex;
	flex-direction: column;
	transition: right 0.3s ease-in-out;
	z-index: 999;
}
.mobile-nav.open {
	right: 0;
}
.mobile-nav .close {
	width: 20px;
	height: 20px;
	position: fixed;
	top: 60px;
	right: 60px;
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.3s ease;
}
.mobile-nav .close:hover {
	opacity: 0 !important;
}
.mobile-nav.open .close {
	opacity: 1;
	pointer-events: all;
}
.mobile-nav.open .close:hover {
	opacity: 0.75;
}
.mobile-nav .vertical-align {
	position: absolute;
	top: 50%;
	width: 100%;
	transform: translate(0%, -50%);
}
.mobile-nav .nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-bottom: 40px;
}
.mobile-nav .nav-item {
	height: 40px;
}
.mobile-nav .nav-link {
	color: #000;
}
.mobile-nav .contact-details {
	width: calc(100% - 80px);
	margin: 0 auto;
	background: rgba(0,0,0,.85);
}
.mobile-nav .contact-details * {
	transition: none !important;
}
.mobile-nav .contact-details p,
.mobile-nav .contact-item dt i,
.mobile-nav .contact-details td,
.mobile-nav .contact-details dd {
	color: #fff;
}
.mobile-nav .contact-details hr {
	border-top: 1px solid #fff;
}
/*----------------MAIN SECTION----------------*/

main {
	width: 100%;
	height: 80vh;
}
.parallax-window {
	height: 80vh;
    background: transparent;
    position: relative;
}
.parallax-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #020000;
	opacity: 0.85;
}
.parallax-window h1 {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	margin: 0;
	text-align: center;
	color: #fff;
	font-size: 3vw;
}

/*----------------ABOUT SECTION----------------*/

section {
	position: relative;
	width: 100%;
    border-bottom: 3px solid rgb(215 33 46);
}
.about {
    border-top: 3px solid rgb(215 33 46);
	background: #fff;
}
.heading-container {
	width: auto;
}
.heading-container h1 {
	font-size: 40px;
}
.big-hr {
    border-top: 5px solid rgb(215 33 46);
    width: 30px;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 30px;
}

/*----------------OBJECTIVES SECTION----------------*/

.objectives {
	background: #1b1b1b;
}
.objectives * {
	color: #fff;
}
.objectives .objectives-container {
	display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;
}
.objectives .objectives-container .card {
	width: 49%;
	background: rgba(0,0,0,.2);
	transition: all 0.5s ease;
	padding: 40px;
	border-radius: 10px;
}
.objectives .objectives-container .card ul {
	padding-inline-start: 0px;
}
.objectives .objectives-container .card ul li {
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	margin-bottom: 5px;
}
.objectives .objectives-container .card .title {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}
.objectives .objectives-container .card p {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
}
.objectives .objectives-container .card:hover {
	border: 1px solid #acacac;
	transform: scale3d(1.02, 1.02, 1);
}
/*----------------SERVICES SECTION----------------*/

.services {
	background: #fff;
}
.services * {

}
.services .container-wrap .service-boxes {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.services .container-wrap .service-boxes .service {
	width: 32.33333%;
	margin-bottom: 1%;
	background: rgba(0,0,0,.7);
	border: 1px solid transparent;
	transition: all 0.5s ease;
	text-align: center;
	padding: 10px;
	border-radius: 6px;
	display: flex;
	align-items: center;
	height: 120px;
}
.services .container-wrap .service-boxes .service:nth-child(1) {
	background: linear-gradient(rgb(0 0 0 / 70%), rgb(0 0 0 / 70%)), url('../img/home-page/services/criminal.jpg') ;
	background-size: cover;
}
.services .container-wrap .service-boxes .service:nth-child(2) {
	background: linear-gradient(rgb(0 0 0 / 70%), rgb(0 0 0 / 70%)), url('../img/home-page/services/family.jpg') ;
	background-size: cover;
}
.services .container-wrap .service-boxes .service:nth-child(3) {
	background: linear-gradient(rgb(0 0 0 / 70%), rgb(0 0 0 / 70%)), url('../img/home-page/services/domestic.jpg') ;
	background-size: cover;
}
.services .container-wrap .service-boxes .service:nth-child(4) {
	background: linear-gradient(rgb(0 0 0 / 70%), rgb(0 0 0 / 70%)), url('../img/home-page/services/child.jpg') ;
	background-size: cover;
}
.services .container-wrap .service-boxes .service:nth-child(5) {
	background: linear-gradient(rgb(0 0 0 / 70%), rgb(0 0 0 / 70%)), url('../img/home-page/services/conveyancing.jpg') ;
	background-size: cover;
}
.services .container-wrap .service-boxes .service:nth-child(6) {
	background: linear-gradient(rgb(0 0 0 / 70%), rgb(0 0 0 / 70%)), url('../img/home-page/services/will.jpg') ;
	background-size: cover;
}
.services .container-wrap .service-boxes .service p {
	font-size: 16px;
	margin: 0;
	color: #fff;
	width: 100%;
}
.services .container-wrap .service-boxes .service:hover {
	border: 1px solid #3b3b3b;
	transform: scale3d(1.02, 1.02, 1);
}

/*----------------CONTACT SECTION----------------*/

/*MAP*/

#map {
    width: 49%;
    border-radius: 10px;
}
.contact {
	background: #1b1b1b;
	border-bottom: unset;
}
.contact * {
	color: #fff;
}
.contact .contact-container {
	display: flex;
	justify-content: space-between;
}
.contact-details {
    height: 100%;
	width: 49%;
	height: auto;
	background: rgba(0,0,0,.2);
    border-radius: 10px;
    padding: 20px 40px;
}
.contact-item {
	width: 100%;
	margin: 0 auto;
}
.contact-item dl {
	padding-left: 30px;
}
.contact-item.parking dd {
	margin-left: -25px;
}
.contact-item dt {
	position: relative;
	color: #d9232f;
	margin-bottom: 5px;
}
.contact-item dt i {
	position: absolute;
	left: -25px;
	top: 50%;
	transform: translate(0%, -50%);
}
.contact-item dd a {
	color: #fff;
}
/*Hours*/
.contact-item table {
	margin-left: 5px;
}

/*------------MEDIA QUERIES-----------*/

@media only screen and (min-width: 1200px){
	.navbar-expand-xl .navbar-collapse {
	    justify-content: flex-end;
	}
}
@media only screen and (max-width: 1400px){
	.menu-toggle {
		display: flex;
	}
	.navbar-expand-xl .navbar-collapse {
		display: none !important;
	}
	.navbar .container-wrap {
		padding: 0px 40px 0px 60px;
	    justify-content: space-between;
	}
	.parallax-window h1 {
	    width: calc(100% - 80px);
    	font-size: 40px;
    }
}
@media only screen and (max-width: 991px){

}
@media only screen and (max-width: 767px){
	/*GENERAL STYLES*/
	.container-wrap {
		padding: 40px 20px;
	}
	/*NAVBAR STYLES*/
	.navbar .container-wrap {
		padding: 0px 20px 0px 30px;
	}
	.navbar-brand img {
		width: 20px;
		height: 20px;
		left: 2px;
	}
	.navbar-brand p, .navbar-brand p span {
		font-size: 20px;
	}
	/*MOBILE NAV STYLES*/
	.mobile-nav {
		width: 100%;
		right: -100%;
	}
	.mobile-nav .close {
	    top: 45px;
	    right: 40px;
	}
	.mobile-nav .contact-details {
		display: none;
	}
	.mobile-only {
		display: block;
		padding-left: 30px;
	}
	.mobile-nav .contact-item.mobile-only a {
		color: #000;
	}
	.mobile-nav .contact-item.mobile-only dt i {
		color: #3b3b3b;
	}
	/*MAIN SECTION STYLES*/
	.parallax-window h1 {
	    text-align: left;
	}
	/*OBJECTIVES SECTION*/
	.objectives .objectives-container {
		flex-wrap: wrap;
		flex-direction: column;
	}
	.objectives .objectives-container .card {
		width: 100%;
		margin-bottom: 20px;
	}
	/*SERVICES SECTION*/
	.services .container-wrap .service-boxes .service {
	    width: 49%;
	}
	/*CONTACT SECTION*/
	.contact .contact-container {
	    flex-direction: column;
	}
	#map {
		height: 400px;
		width: 100%;
		margin-bottom: 20px;
	}
	.contact-details {
		width: 100%;
	}
}
@media only screen and (max-width: 479px){
	/*SERVICES SECTION*/
	.services .container-wrap .service-boxes .service {
	    width: 100%;
	}
}